<div class="col-md-8 col-md-offset-2">
<%= simple_form_for @dg do |f| %>
  <%= f.input :name, hint: "Requires a name" %>
  <%= f.input :description%>

  <div class="badge-checkbox">
  <%= f.association :badges, :as => :check_boxes, item_wrapper_tag: :div, item_wrapper_class: "badges", :collection => Badge.order(:name),
  :label => false, :inline_label => false, :label_method => lambda { |b|  image_tag(b.image)  } %>
  </div>

<div class="buffer"></div>
  <%= f.input :level,
          :collection => [[0, "Beginner"], [1, "Intermediate"], [2, "Advanced"]],
          :label_method => :last,
          :value_method => :first,
          :as => :radio_buttons,
          :item_wrapper_class => 'inline',
          :checked => true%>
  <div class="buffer"></div>
    <%= f.association :categories,
          as: :search, data:
          {autcomplete_source: categories_path} %>
  <div class="buffer"></div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</div>
