<div class="col-md-8 col-md-offset-2">
  <%= simple_form_for @dg do |f| %>
    <%= f.input :name, hint: "Requires a name" %>
    <%= f.input :description%>
    <div class="buffer"></div>
    <%= f.input :level, as: :radio_buttons, collection: ["Beginner", "Intermediate", "Advanced"]%>
    <div class="buffer"></div>
    <%= f.button :submit, "Make a Drill Group", class: "btn btn-primary" %>
  <% end %>
</div>
