<h1 class="page-header">All Drill Groups</h1>
<% if user_signed_in? && current_user.admin %>
  <%= link_to("New Drill Group", new_drill_group_path, class: "btn btn-primary") %>
<% end %>

<div class="col-md-8 col-md-offset-2">
  <% @drill_groups.each do |dg| %>
    <div class="well clickable_html">
        <%= dg.name %>
        <%= link_to "Show", drill_group_path(dg), class: "btn btn-primary btn-sm pull-right" %>
        <%= link_to "Add To My Drills", drill_group_user_drill_groups_path(dg), class: "btn btn-info btn-sm pull-right", method: :post %>
        <div class="pull-right">
          score: <%= current_user.get_drill_group_score(dg)%> %
        </div>
    </div>
  <% end %>
</div>
