<h1>Show for Drill group: <%= @dg.name %></h1>

<p>
  Description:
</p>
<%= @dg.description %>

<p>
  Level:
</p>
<%= @dg.level %>

<h2 id="add_drill_heading">Add a Drill</h2>

<%= simple_form_for [@dg, @drill] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>


<h2>Drills</h2>
<div id="drills">
  <% @drills.each do |drill| %>
    <div class="well" id="<%= dom_id(drill) %>">
    <%= drill.name %>
    <%= drill.description %>
    <%= link_to "Show", drill_group_drill_path(@dg, drill), class: "btn btn-primary btn-sm pull-right" %>
    </div>

  <% end %>
</div>
