<div class="container col-md-2"></div>
<div class="container col-md-8">
  <h1 id="title">Drill Groups</h1>

  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a id="title" href="#home" aria-controls="home" role="tab" data-toggle="tab">Mine</a></li>
      <li role="presentation"><a id="title" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">All</a></li>
      <% if current_user.admin? %>
        <li role="presentation"><a id="title" href="#create-drill-group" aria-controls="create-drill-group" role="tab" data-toggle="tab">Create a Drill Group</a></li>
      <% end %>
  </ul>


    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
          <% @user_drill_groups.each do |udg| %>
          <br>
            <div class="well clickable_html">
                <% dg = udg.drill_group %>
                <%= dg.name %>
                <%= link_to "Start", drill_group_path(dg), class: "btn btn-primary btn-sm pull-right" %>
                <%= link_to "Remove", drill_group_user_drill_group_path(dg, udg), class: "btn btn-warning btn-sm pull-right", method: :delete %>
                <br>
                <br>
                <div>
                  Score: <%= current_user.get_drill_group_score(dg)%> %
                </div>
            </div>
          <% end %>


      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
          <% @all_drill_groups.each do |dg| %>
            <br>
            <div class="well">
              <%= dg.name %>
              <%= link_to "Start", drill_group_path(dg), class: "btn btn-primary btn-sm pull-right", id: "show-drill-group" %>
              <%= link_to "Add this to my Drill Groups!", drill_group_user_drill_groups_path(dg), class: "btn btn-info btn-sm pull-right margin-right", method: :post %>
              <br>
              <br>
              <div>
                Score: <%= current_user.get_drill_group_score(dg)%> %
              </div>
            </div>
            <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="create-drill-group">

          <%= render "/drill_groups/form" %>

      </div>
    </div>

</div>
</div>
<div class="container col-md-2"></div>
