<h1>Drill: <%= @drill.name %></h1>

<p><%= @drill.name %></p>
<p><%= @drill.description %></p>

<!-- FOR ADMIN USERS ONLY -->
<% if user_signed_in? && current_user.admin %>
  <%= link_to "Delete", drill_group_drill_path(@dg, @drill), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?", disable_with: "deleting..."}%>
  <%= link_to "Edit", edit_drill_group_drill_path(@dg, @drill), class: "btn btn-info", id: "edit_btn_#{dom_id(@drill)}"%>
  <hr>
  <!-- RENDER NEW ANSWER FORM -->
  <%= render "/answers/form" %>

  <h1>All Answers</h1>
  <div id="answers_for_drill">
    <%= render "/answers/answers_for_a_drill" %>
  </div>

<% end %>
<h1>Try answering this drill!</h1>
<%= simple_form_for [@drill, @drillcomplete] do |user_answer| %>
  <%= user_answer.input :new_answer %>
  <%= user_answer.button :submit, "Submit your answer!" %>
<% end %>

<div id="answers_for_drill">
<% if @show_answers && current_user.admin? %>
  <h2>All Answers</h2>
  <%= render "/answers/answers_for_a_drill" %>
<% end %>
</div>
